
<p>Name: <%= @fruit.name %></p>
<p>Family: <%= @fruit.family %></p>
<p>Order:<%= @fruit.order %></p>
<p>Genus:<%= @fruit.genus %></p>
<p>Calories:<%= @fruit.calories %></p>
<p>Fat:<%= @fruit.fat %></p>
<p>Sugar:<%= @fruit.sugar %></p>
<p>Carbohydrates:<%= @fruit.carbohydrates %></p>
<p>Protein:<%= @fruit.protein %></p>
