
<p>Name: <%= @food.name %></p>
<p>Family: <%= @food.family %></p>
<p>Order:<%= @food.order %></p>
<p>Genus:<%= @food.genus %></p>
<p>Calories:<%= @food.calories %></p>
<p>Fat:<%= @food.fat %></p>
<p>Sugar:<%= @food.sugar %></p>
<p>Carbohydrates:<%= @food.carbohydrates %></p>
<p>Protein:<%= @food.protein %></p>
